/* overflow-y: scroll !important; because without !important it is being overwritten by parent container style of overflow: visible */

#similar {
  height: 950px;
  overflow-y: scroll !important;
}
h2 span {
  font-size: 16px;
}
h1,
h2 {
  margin: 0 !important;
}
.gradio-container {
  background-image: url("file=figures/unicorn.png");
  background-size: contain;
  max-width: 80% !important;
}

div#gallery_search > div:nth-child(3) {
  min-height: 700px;
}
